@media(max-width: 670px){
  p{
    font-size: 13px;
  }

  .header-logo img{
    padding: 5px;
  }

  .header-logo p{
    font-size: 15px;
    margin-top: 35px;
  }

  .top-wrapper h1{
    font-size: 40px;
  }

  .container{
    margin-bottom: 80px;
  }

  .about p{
    text-align: left;
  }

  .activities p {
    text-align: right;
  }

  .join-conditions{
    text-align: left;
    margin-bottom: 40px;
  }

  .btn{
    width: 100%;
  }

  .footer-logo img{
    padding: 5px;
  }

  .footer-logo p{
    font-size: 15px;
    margin-top: 35px;
  }

  .copyright{
    font-size: 5px;
    margin-right: 5px;
    margin-top: 45px;
  }
}
