@media(max-width: 670px){
  p{
    font-size: 14px;
  }

  .top-wrapper h1{
    font-size: 40px;
  }

  .about p{
    text-align: left;
  }

  .activities p {
    text-align: right;
  }

  .join-conditions{
    text-align: left;
    margin-bottom: 40px;
  }

}
