
*{
  box-sizing: border-box;
}

li {
  list-style: none;
}

body{
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

/* Header */
.header-container{
  height: 70px;
  background-color: #1E90FF;
  padding: 5px;
}

.header-logo img{
  height: 70px;
  float: left;
}

.header-logo p{
  float: left;
  margin-top: 30px;
  color: black;
  font-size: 20px;
}

/* Main*/
.top-wrapper{
  background-color: white;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  margin: 0 auto;
}

.top-wrapper h1{
  font-size: 45px;
  font-family: "arial unicode ms";
  margin-bottom: 40px;
}


.main-wrapper{
  margin-top: 100px;
  padding: 0 40px;
}

.main-wrapper h2{
  font-size: 40px;
  border-bottom: solid 2px #dee7ec;
}

.container {
  text-align: center;
  margin: 70px 0 70px 0;
}


.activities h2{
  text-align: right;
}

.join h3{
  font-size: 25px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 6px;
  padding: 15px 40px;
}

.entry{
  background-color: #1E90FF;
  opacity: 0.8;
}

.entry:hover{
  opacity: 1;
  font-size: 17px;
}

.twitter{
  margin-bottom: 30px;
  display: inline-block;
}

.twitter:hover{
  color: #00aced;
}

.message-wrapper{
  background-color: #666666;
  color: white;
  height: 450px;
}

.message-container{
  margin: 0 auto;
  width: 500px;
  text-align: center;
  padding: 50px 0;
}

.message-txt{
  margin-bottom: 30px;
}

/*Footer*/

.footer-container{
  height: 70px;
  background-color: #1E90FF;
  padding: 5px;
}

.footer-logo img{
  height: 70px;
  float: left;
}

.footer-logo p{
  float: left;
  margin-top: 30px;
  color: black;
  font-size: 20px;
}

.copyright{
  float: right;
  margin-top: 45px;
  margin-right: 10px;
}
