

/* Header */
.header-container{
  height: 65px;
  background-color: #1E90FF;
  padding: 5px;
}

.header-logo img{
  height: 65px;
  float: left;
}

.header-logo p{
  float: left;
  margin-top: 30px;
  color: black;
}


/* Main*/
.top-wrapper{
  height: 200px;
  background-color: #D3D3D3;
  text-align: center;
  padding: 40px 0;
  width: 100%;
}

.top-wrapper h1{
  font-size: 40px;
}

.top-images {
  background-color: #D3D3D3;
}
